<form [formGroup]="atleetToevoegenForm" (ngSubmit)="onSubmitAtleet()">
    <p>
        <input  type="text" formControlName="naam" placeholder="Naam" />
    </p>
    <p>
        <input  type="text" formControlName="team" placeholder="Teamnaam" />
    </p>
    <p>
        <input  type="text" formControlName="positie" placeholder="positie atleet" />
    </p>
    <button  color="primary" type="submit" [disabled]="!atleetToevoegenForm.valid">Toevoegen atleet</button> | 
    <button (click)="naarVolleybal()">Annuleren</button>
</form>