<header>
  <div class="nav-display">
    <a href=# [routerLink]="['']" routerLinkActive="router-link-active" >
      <img src="assets/img/LogoAthleterLang.png" class="imgnav"/>
    </a>
    <label for="nav-toggle" class="nav-toggle-label">
       <span></span>
    </label>
  </div>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li class="home-link links"><a href=# [routerLink]="['']" routerLinkActive="router-link-active" >Home</a></li>
      <li class="voetbal-link links"><a href=# [routerLink]="['/voetbal']" routerLinkActive="router-link-active" >Voetbal</a></li>
      <li class="badminton-link links"><a href=# [routerLink]="['/badminton']" routerLinkActive="router-link-active" >Badminton</a></li>
      <li class="hockey-link links"><a href=# [routerLink]="['/hockey']" routerLinkActive="router-link-active" >Hockey</a></li>
      <li class="volleybal-link links"><a href=# [routerLink]="['/volleybal']" routerLinkActive="router-link-active" >Volleybal</a></li>

    </ul>
  </nav> 
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>


<footer class="page-footer font-small footer">
  <div class="footer-copyright text-center py-3">
    © 2019 Athleter: Nerissa Janssens, Jasper Cools, Bart Ooms, Jasey Waegebaert 
  </div>
</footer>