<h1>Volleybal</h1>

<div class="row justify-content-center">
    <div class="card col-3" *ngFor="let a of volleybalAtleten; let i = index">
        <img src="assets/img/voetbal/noImage.jpg" class="card-img-top">
        <div class="card-body">
            <h2>{{a.naam}}</h2>
            <p id="firstItem"><i class="fas fa-users"></i> Team: <span>{{a.team}}</span></p>
            <p><i class="fas fa-crosshairs"></i> Positie: <span>{{a.positie}}</span></p>
            <hr/>
            <p><i class="fas fa-ruler-vertical"></i> Lengte: <span>{{a.lengteInCm}} cm</span></p>
            <p><i class="fas fa-restroom"></i> Geslacht: <span>{{a.geslacht}}</span></p>
            <hr/>
        </div>
    </div>
</div>
<button class="button button--nuka"  (click)="volleybalAtleetBeheren()">Volleybal beheren</button>